.task-list-view {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.task-list-view.active {
  display: flex;
  visibility: visible;
}

.task-list-container {
  position: relative; /* Ensure the container is the positioning context */
  background: #e0e0e0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
}

.task-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #b0b0b0;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #d0d0d0;
}

.task-list-item h3 {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.task-list-item .status-toggle {
  cursor: pointer;
  font-size: 1.5em;
}

.task-list-item .remove-task-button {
  background: none;
  border: none;
  color: #ff0000;
  font-size: 1.2em;
  cursor: pointer;
}

.task-list-item .remove-task-button:hover {
  color: #cc0000;
}


